<div class="nav" ng-init="isExpanded=false;" ng-class="{
             'nav--expanded': isExpanded,
             'nav--collapsed': !isExpanded
             }">
    <div class="nav__toggle" ng-click="isExpanded = !isExpanded">
        <div class="fontastic icon-x" ng-if="isExpanded"></div>
        <div class="fontastic icon-align-justify" ng-if="!isExpanded"></div>
    </div>
    <a href="#/post-editor" class="nav__item" ng-show="isExpanded">
        ADD YOUR OWN
    </a>
    <a href="#/about-us" class="nav__item" ng-show="isExpanded">
        FIND OUT MORE
    </a>
    <a href="#/" class="nav__item" ng-show="isExpanded" ng-click="showSearch()">
        SEARCH
    </a>
</div>