<div class="sharing-container">
    <div class="sharing-container__clipboard">
        <div class="sharing-container__clipboard__share-icon"><img src="img/sharing-icon.png"></div>
        <div class="sharing-container__clipboard__text">SHARE LINK: </div>
        <input class="sharing-container__clipboard__url" type="text" name="fname" value="{{url}}">
        <div class="fontastic icon-x sharing-container__clipboard__close-btn" ng-click="close()"></div>
    </div>
    <div class="sharing-container__info">
        <div class="sharing-container__info__icon"><img src="img/sharing-icon.png"></div>
        <div class="sharing-container__info__text">please click above, to copy then paste link in TWITTER or FACEBOOK to share your favourite</div>
    </div>
</div>
